@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@500;600;800&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body .buttons {
  background-color: #FEB04D;
  border-radius: 20px;
  border-style: none;
  color: #1B651B;
  font-weight: 700;
  padding: 1em 2em;
  cursor: pointer;
}

body .main-container {
  margin-left: 6vw;
  margin-right: 5vw;
}

body .main-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2em;
}

body .main-container nav .cvsu-logo {
  width: 5em;
}

body .main-container nav a {
  margin: 0 1em;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

body .main-container nav .logIn {
  background-color: #FEB04D;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 0.5em 2em;
  color: #1B651B;
}

body .main-container .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

body .main-container .hero-section .left {
  width: 40%;
  height: 100vh;
  margin-top: 20vh;
}

body .main-container .hero-section .left .slogan {
  font-family: 'NanumMyeongjo', serif;
  font-weight: 500;
  font-size: 3.5em;
  color: #1B651B;
}

body .main-container .hero-section .left .buttons {
  margin-top: 2em;
}

body .main-container .hero-section .left p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #1F1F1FE5;
}

body .main-container .hero-section .image-container {
  position: absolute;
  width: 43%;
  height: auto;
  top: 0;
  z-index: -10;
  right: 6.15vw;
}

body .main-container .hero-section .image-container img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body .main-container .search-block {
  margin-top: 10em;
  width: 100%;
  height: 20em;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(235, 162, 69, 0.8)), to(rgba(235, 162, 69, 0.8))), url(/assets/Image10.png);
  background: linear-gradient(0deg, rgba(235, 162, 69, 0.8), rgba(235, 162, 69, 0.8)), url(/assets/Image10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

body .main-container .search-block .green-block-overlay {
  width: 50%;
  background: rgba(27, 101, 27, 0.7);
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

body .main-container .search-block .green-block-overlay p {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  line-height: 25px;
}

body .main-container .who-we-are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main-container .who-we-are .left {
  width: 40%;
}

body .main-container .who-we-are .left h1 {
  font-family: 'NanumMyeongjo', serif;
  color: #1B651B;
  font-size: 50px;
  font-weight: 500;
}

body .main-container .who-we-are .left h1::after {
  content: " ––––";
  font-weight: 400;
  color: #FEB04D;
}

body .main-container .who-we-are .left p {
  font-family: 'Poppins', sans-serif;
  color: rgba(31, 31, 31, 0.9);
  line-height: 30px;
  text-align: justify;
  font-size: 15px;
}

body .main-container .who-we-are .right-img {
  margin-top: auto;
  margin-bottom: auto;
}

body .main-container .who-we-are .right-img img {
  max-width: 100%;
  width: 80%;
}

body footer {
  font-family: 'Poppins', sans-serif;
  margin-top: 10em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FEB04D;
  flex-wrap: wrap;
}

body footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  padding: 4em 0;
}

body footer .footer-wrapper .footer-left {
  margin-top: 1em;
}

body footer .footer-wrapper .footer-left img {
  max-width: 100%;
  height: auto;
}

body footer .footer-wrapper .footer-left p {
  color: #1B651B;
  font-size: 15px;
  font-family: 'NanumMyeongjo', serif;
  font-size: 20px;
}

body footer .footer-wrapper .footer-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .footer-wrapper .footer-column h4 {
  color: #1F1F1FE5;
}

body footer .footer-wrapper .footer-column a {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: #1B651B;
  text-decoration: none;
}

body footer .footer-wrapper .footer-column a:hover {
  color: white;
}

body footer .footer-wrapper .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body footer .footer-wrapper .footer-right div {
  margin: 0 2em;
}

body footer .footer-wrapper .footer-right .footer-column-socials a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body footer .footer-wrapper .footer-right .footer-column-socials a img {
  margin-right: 20px;
}

body footer .footer-wrapper .footer-right .footer-column-socials a img:hover {
  cursor: pointer;
  opacity: 0.5;
}

body .copyright {
  padding: 1em;
  background-color: #1B651B;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FEB04D;
  font-size: 14px;
}
/*# sourceMappingURL=index.css.map */