@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@500;600;800&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;

  .buttons {
    background-color: #FEB04D;
    border-radius: 10px;
    border-style: none;
    color: #1B651B;
    font-weight: 700;
    padding: 1em 2em;
    cursor: pointer;

    &:hover {
      color: #FEB04D;
      background-color: #1B651B;
      transition: 0.4s ease-in-out all;
    }
  }

  .main-container {
    margin-left: 6vw;
    margin-right: 5vw;

    nav {
      display: flex;
      padding-top: 2em;
      justify-content: center;

      .cvsu-logo {
        width: 5em;
      }
    }

    .hero-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100vh;

      .left {
        width: 40%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .slogan {
          font-family: 'NanumMyeongjo', serif;
          font-weight: 500;
          font-size: 3.5em;
          color: #1B651B;
        }

        .buttons {
          margin-top: 2em;
        }

        p {
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          color: #1F1F1FE5;
        }
      }

      .image-container {
        position: absolute;
        width: 43%;
        height: auto;
        top: 0;
        z-index: -10;
        right: 6.15vw;

        img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }
    }

    .search-block {
      margin-top: 8em;
      width: 100%;
      height: 25em;
      border-radius: 20px;
      background: linear-gradient(0deg, rgba(235, 162, 69, 0.8), rgba(235, 162, 69, 0.8)), url(/assets/Image10.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;

      .filterList {
        background-color: white;
        position: absolute;
        bottom: 10%;
        z-index: 10;
        left: 25%;
        padding: 2em;
        list-style: none;
        width: 45%; 

        li {
          margin-bottom: 10px;

          &:hover {
            cursor: pointer;
            color: #FEB04D;
            text-decoration: underline;
          }

          a {
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            color: #1B651B;
          }
        }
      }

      .search-box {
        width: 50%;
        position: absolute;
        bottom: -30px;
        left: 23%;
        border-style: none;
        border: none;
        padding: 1.7em;
        border-radius: 10px;
        filter: drop-shadow(-26px 369px 148px rgba(0, 0, 0, 0.02)) drop-shadow(-15px 208px 125px rgba(0, 0, 0, 0.07)) drop-shadow(-6px 92px 93px rgba(0, 0, 0, 0.11)) drop-shadow(-2px 23px 51px rgba(0, 0, 0, 0.13)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.13));

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #1B651B;
          font-family: 'Poppins', sans-serif;
        }
      }
      
      #filter-list {
        display: none;
      }

      .green-block-overlay {
        width: 50%;
        background: rgba(27, 101, 27, 0.7);
        padding: 2em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        p {
          color: white;
          font-family: 'Poppins', sans-serif;
          text-align: justify;
          line-height: 25px;
        }
      }
    }

    .who-we-are {
      display: flex;
      margin-top: 10em;
      justify-content: space-between;

      .left {
        width: 50%;
        h1 {
          font-family: 'NanumMyeongjo', serif;
          color: #1B651B;
          font-size: 50px;
          font-weight: 500;

          &::after {
            content: " ––––";
            font-weight: 400;
            color: #FEB04D;
          }
        }

        p {
          font-family: 'Poppins', sans-serif;
          color: rgba(31, 31, 31, 0.9);
          line-height: 30px;
          text-align: justify;
          font-size: 15px;
        }
      }

      .right-img {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: center;

        img {
          max-width: 100%;
          width: 80%;
        }
      }
    }
  }

  footer {
    font-family: 'Poppins', sans-serif;
    margin-top: 10em;
    flex-wrap: wrap;
    background-color: #FEB04D;
    
    .footer-wrapper {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      margin-left: 6vw;
      margin-right: 6vw;
      padding: 4em 0;

      .footer-left {
        margin-top: 1em;

        img {
          max-width: 100%;
          height: auto;
        }

        p {
          color: #1B651B;
          font-size: 15px;
          font-family: 'NanumMyeongjo', serif;
          font-size: 20px;
        }
      }
      
      .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4 {
          color: #1F1F1FE5;
        }
    
        a {
          margin-bottom: 10px;
          font-family: 'Poppins', sans-serif;
          color: #1B651B;
          text-decoration: none;
  
          &:hover {
            color: white;
          }
        }
      }

  
      .footer-right {
        display: flex;
        flex-wrap: wrap;
  
        div {
          margin: 0 2em;
        }

        .footer-column-socials {
          a {
            flex-direction: row;

            img {
              margin-right: 20px;

              &:hover {
                cursor: pointer;
                opacity: 0.5;
              }
            }
          }
        }
      } 
    }
  }

  .copyright {
    padding: 1em;
    background-color: #1B651B;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FEB04D;
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  body {
    .main-container {
      .hero-section {
        display: block;
        flex-wrap: nowrap;

        .left {
          width: 100%;
          text-align: center;
          margin-top: 0;
          position: relative;

          .left-main-container {
            margin: auto;
            width: 80%;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);

            .slogan {
              font-size: 2em;
            }
          }
        }
    
        .image-container {
          right: 0;
          width: 100%;
          opacity: 20%;      
        }
      }

      .search-block {
        height: 50em;
        border-radius: 10px;

        .search-box {
          width: 80%;
          left: 3%;
        }
      }

      .who-we-are {
        display: block;

        .left {
          width: 100%;
        }

        .right-img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          img {
            width: 60%;
            margin-top: 2em;
          }
        }
      }
    }

    footer {
      margin-top: 5em;
    }
  }
}

//add media query with minimum and maximum width
@media screen and (min-width: 701px) and (max-width: 800px) {
  body {
    .main-container {
      .who-we-are {
        display: block;

        .left {
          width: 100%;
        }

        .right-img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          img {
            width: 50%;
            margin-top: 2em;
          }
        }
      }
    }

    footer {
      margin-top: 5em;
    }
  }
}