@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body .body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-container .left-div {
  height: 100vh;
  width: 30%;
  background-image: url(/assets/cvsu-lib.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

body .body-container .left-div .cvsu-logo {
  width: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .body-container .left-div .green-overlay {
  height: 100vh;
  width: 100%;
  background: #1B651BB2;
}

body .body-container .left-div .cvsu-tagline {
  font-weight: 800;
  color: #FFFFFFB2;
  opacity: 50%;
  font-size: 3.5em;
  position: fixed;
  bottom: 0;
  left: 0;
}

body .body-container .right-div {
  height: 100vh;
  position: relative;
  width: 70%;
}

body .body-container .right-div .cvsu-logo02 {
  width: 15em;
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

body .body-container .right-div .form-area {
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 0.145em;
  color: #FEB04D;
  text-align: center;
  padding-top: 30vh;
}

body .body-container .right-div form {
  color: #1B651B;
}

body .body-container .right-div form input {
  margin: 1em;
}

body .body-container .right-div form input:checked {
  font-weight: bold;
}

body .body-container .right-div form .page2, body .body-container .right-div form .page3, body .body-container .right-div form .page4, body .body-container .right-div form .page5 {
  display: none;
}

body .body-container .right-div form h1 {
  text-align: center;
  font-weight: 800;
  font-size: 2.5em;
  color: #1B651B;
  font-family: 'Nanum Myeongjo', serif;
}

body .body-container .right-div form .choices-container {
  width: 15em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

body .body-container .right-div form .choices-container .page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

body .body-container .right-div form .choices-container .page-nav .forward {
  border: none;
  background-color: transparent;
  background-image: url(/assets/Forward.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

body .body-container .right-div form .choices-container .page-nav .backward {
  border: none;
  background-color: transparent;
  background-image: url(/assets/Back.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

body .body-container .right-div form .choices-container .page-nav .pageNum {
  font-size: 12px;
  margin: auto;
  font-weight: bold;
}

body .body-container .right-div form .choices-container .page-nav button {
  margin: auto;
}

body .body-container .right-div .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 2em;
  padding-bottom: 1em;
}

body .body-container .right-div .socialIcons img {
  margin: 0.5em;
}

body .body-container .right-div .socialIcons img:hover {
  opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=libraryFeedbackForm.css.map */