@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  .body-container {
    display: flex;

    .left-div {
      height: 100vh;
      width: 30%;
      background-image: url(/assets/cvsu-lib.png);
      position: relative;

      .cvsu-logo {
        width: 10em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .green-overlay {
        height: 100vh;
        width: 100%;
        background: #1B651BB2;
      }

      .cvsu-tagline {
        font-weight: 800;
        color: #FFFFFFB2;
        opacity: 50%;
        font-size: 4vw;
        position: absolute;
        top: 77%;
        left: 50%;
        transform: translate(-47%, -50%);
        width: 30vw;
        line-height: 6vw;
      }
    }
  
    .right-div {
      height: 100vh;
      position: relative;
      width: 70%;

      .cvsu-logo02 {
        width: 15em;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
      } 

      .form-area {
        font-weight: 700;
        font-size: 1vw;
        letter-spacing: 0.145em;
        color: #FEB04D;
        text-align: center;
        padding-top: 30vh;
      }
      
      form {
        color: #1B651B;

        input{
          margin: 1em;

          &:checked {
            font-weight: bold;
          }
        }

        .page2, .page3, .page4, .page5 {
          display: none;
        }

        h1 {
          text-align: center;
          font-weight: 800;
          font-size: 3vw;
          color: #1B651B;
          font-family: 'Nanum Myeongjo', serif;
        }

        .choices-container {    
          width: 15em;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 10%);

          .page-nav {
            display: flex;
            margin-top: 2em;

            .forward {
              border: none;
              background-color: transparent;
              background-image: url(/assets/Forward.svg);
              background-repeat: no-repeat;
              background-size: 100%;
              width: 2em;
              height: 2em;
            }

            .backward {
              border: none;
              background-color: transparent;
              background-image: url(/assets/Back.svg);
              background-repeat: no-repeat;
              background-size: 100%;
              width: 2em;
              height: 2em;
            }

            .pageNum {
              font-size: 12px;
              margin: auto;
            }
              
            
            button {
              margin: auto;
            }
          }
        }
      }
    }
  }
}