@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
  background: url(images/admin-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2, h3, h4, h5, h6, input, p, button, textarea, label, fieldset {
	font-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
	margin: 0;
	letter-spacing: .5px;
}

.index-logo:hover {
  transform: scale(1.1);
}

.log-form {
  width: 40%;
  min-width: 20vw;
  max-width: 475px;
  background: url(images/admin-bg.jpg);
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (max-width: 831px) {
  .log-form {
    width: 80%;
    position: relative;
    margin: 30vh auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    font-size: .6em;
  }
}

.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}

.log-form h2 {
  color: #fff;
  font-weight: 800;
  font-size: 1.15em;
  display: block;
  background: #1B651B;
  width: 100%;
  padding: 1em 1.75em;
  /* padding: 0.75em 1em 0.75em 1.5em; */
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1);
  /* border: 1px solid #1d1d1d; */
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

input {
  font-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
}

.log-form input[type="email"], input[type="password"] {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  /* padding: 0.5em 0; */
  padding: .8em 1.25em .8em 1.25em ;
  border: 1px solid lightgray;
  border-radius: 5px;
  /* padding-bottom: 1.25em; */
  color: #757575;
}

.log-form input:focus {
  outline: none;
}

.bgdiv {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /*filter: blur(2px);
  -webkit-filter: blur(2px);*/
}

.index-logo {
  height: 2em;
  margin-left: -2%;
  margin-bottom: -2.5%;
  padding-right: 2%;
}

/* .log-form .forgot {
  color: #33d3de;
  line-height: 0.5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
  float: right;
}
.log-form .forgot:hover {
  color: #1ba0a9;
} */

.login-btn {
	width:10em;
	min-width: 10em;
  outline: none; 
  border: none;
  cursor: pointer;
	color: #1B651B;
	font-size:0.85em;
	font-weight: 800;
	padding: 1em 0 0.9em 0;
	border-radius: 5px;
  background: #FEB04D;
}

.login-btn:hover{
	color: #fff;
  background: #1B651B;
  transition: all 0.4s;
}

/* styles for mainpage or feedback summary */

.logoutbtn-area {
  display: flex;
  justify-content: left;
  margin: 2em;
}

.logout-btn {
	width:4em;
  height: 4em;
  outline: none; 
  border: none;
  cursor: pointer;
	color: #1B651B;
	font-size:0.85em;
	font-weight: 800;
	padding: 1em 0.2em .8em 0;
	border-radius: 100px;
  background: #000;
}

.logout-btn:hover{
	color: #fff;
  background: #1B651B;
  transition: all 0.4s;
}

#respondents a {
  text-decoration: none;
  color: inherit;
}

#respondents .update-btn {
  height: 40px;
	width: 40px;
  outline: none; 
  border: none;
  cursor: pointer;
	font-size:0.85em;
	font-weight: 800;
	padding: 1.2em 0 0.9em 0;
	border-radius: 10px;
  background: #FEB04D;
  color: #1B651B;
}

#respondents .update-btn:hover {
  color: #fff;
  background: #000;
  transition: all 0.4s;
}

#respondents .delete-btn {
  height: 40px;
	width: 40px;
  outline: none; 
  border: none;
  cursor: pointer;
	color: #FEB04D;
	font-size:0.85em;
	font-weight: 800;
	padding: 1.2em 0 0.9em 0;
	border-radius: 10px;
  background: maroon;
}

#respondents .delete-btn:hover{
	color: #fff;
  background: #000;
  transition: all 0.4s;
}

#respondents {
  box-shadow: 10px 10px 8px rgb(0,0,0,.5);
  font-family: 'Poppins', 'Segoe UI', 'Helvetica', sans-serif;
  border-collapse: collapse;
  border: none;
  width: 95vw;
  margin: 2em;
  -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

#respondents td, #respondents th {
  /*border: 1px solid #ddd;*/
  border: none;
  padding: 13px;
  vertical-align: top;
  font-size: .69em;
}

#respondents tr:nth-child(even){background-color: #f2f2f2;}
#respondents tr:nth-child(odd){background-color: #f2f2f2;}
#respondents tr:hover {background-color: #ddd;}

#respondents th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1B651B;
  color: white;
}

#respondents th:first-child {border-top-left-radius: 5px;}
#respondents th:last-child {border-top-right-radius: 5px;}

/* .block {
  display: block;
  width: 100%;
  border: none;
  background-color: #1B651B;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
} */


/* for update area */

@media screen and (min-width: 425px) and (max-width: 1440px) {
  #unique-body {
    position: absolute;
    top: 12%;
  }

  #unique-body center {
    font-size: 1.4em;
  }

  body {
    position: absolute;
    top: 8%;
  }
}